@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}
body{

    min-height: 100vh;
    background: linear-gradient(to right, #2b2929,#2b2929);
    background-size: cover;
    background-position: center;
}
section {

    width: 100%; /* Ocupa todo el ancho */
    
}
section .content{
    max-width: 1200px; /* Limita el ancho máximo */
    width: 100%; /* Se adapta al contenedor */

}


header{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;


}
header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0 ,0 , .1);
    backdrop-filter: blur(10px);
    z-index: -1;
}
.logo{
    display: flex; /* Activa flexbox */
    align-items: center; /* Centra verticalmente */
    font-size: 2rem;
    color: #fff;
    user-select: none;
    margin-right: auto;
    text-decoration: none;
    
    
}
@media (max-width: 991px){
    .logo{
        font-size: 1rem;
    }
}
.logo1{
    
    
    max-width: 80px;
    max-height: 50px;
    border-radius: 30px;
    
  
    

    
}

/*boton-modal*/
.boton-modal{
    position: fixed;
    bottom: 50px;
    right: 80px;
    font-size: 100px;
    z-index: 100000;
    
} 
.boton-modal label{
    
    
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.boton-modal label:hover{
    color: #ccc6c6;
    font-size: 150px;
    transition: 300ms ease;
}
@media (max-width: 991px){
    .boton-modal{
        position: fixed;
        font-size: 60px;
        bottom: 5px;
        right: 5px;
    }
    .boton-modal label:hover{
        font-size:80px;
    }
    
}

/*ventana modal*/
.container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top:0;
    background-color: rgba(52, 55, 56, 0.37);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
  
   
    
}
#btn-modal:checked ~ .container-modal{
    display: flex;
   
    
}
.content-modal{
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #ffffff8f;
    border-radius:30px;
    backdrop-filter: blur(20px)
    
    
    
}
.content-modal h2{
    margin-bottom: 15px;
    text-align: center;
}
.content-modal p{
    font-size: 1.2em;
    color: #162938 ;
    margin: 20px 0;
    

}
.content-modal .btn-cerrar{
    width: 100%;
    display:flex ;
    font-size: 30px;
    justify-content: flex-end;
}.content-modal .btn-cerrar label{
   
    
    color: #000000;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.content-modal .btn-cerrar label:hover{
    color: grey;
}
.container-modal input{
    width: 100%;
    height: 40px;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    background-color: #2c262663 ;
    
    padding: 0px 30px 0px 5px;
    border-radius: 30px;
    border: none;
}
/*:::Fin Ventana Modal:::*/

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.menu-horizontal a{
    display: block;
    position: relative;
    font-size: 1.3em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    
}
#check{
    display: none;
}
.icons{
    right: 5%;
    position: absolute;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}
@media (max-width: 992px){
    header{
        padding: 1.3rem 5%;
        max-height: 60px;
    }
}
@media (max-width: 991px){
    .icons{
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
       display: none; 

    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    .menu-horizontal{
        
        position:absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        top: 100%;
        left: 0;
        width: 100%;
        height:0;
        background-color: rgba(0, 0, 0, 0.123);
        backdrop-filter: blur(10px);
        box-shadow: 0 .5rem 1rem rgba(0, 0 ,0 , .1);
        overflow: hidden;
        transition: .3s ease;
    }
    
    #check:checked~.menu-horizontal{
        height: 17.7rem;
    }
    .menu-horizontal a{
        display: block;

        font-size: 1.1rem;
        margin:1.5rem 0;
        text-align: center;
        
    }
    .btnLogin-popup{
        position: absolute;
        right: 15%;
        max-width: 50px;
        margin-right: 20px;
        
        
        
    }
    .btnLogin-popup span{
         display: none;
        
    }
    .btnLogin-popup .fa-circle-user{
        margin-left: 5px;
    }
    
    

    
}
.menu-horizontal i{
    margin-left: 10px;
    color: rgb(255, 255, 255);
    
    
}

.menu-horizontal li:hover > a i {
    transform: rotate(180deg);
    color: rgb(143, 143, 143);
    transition: transform 1s ease;
}
.menu-horizontal a::after{
    content: " ";
    left: 0;
    bottom: -6px;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    
    transform: scaleX(0);
    transition: transform .5s;
}
.menu-horizontal a:hover:after{
    transform: scaleX(1);
}
.btnLogin-popup{
    
    width: 130px;
    height: 50px;
    background: transparent;
    border: 4px solid #ffffff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    transition: .5s ease;
    margin-left: 10px;
}
.btnLogin-popup:hover{
    background-color: #fff;
    color: #162938;
}
.btnLogin-popup .fa-circle-user{
    margin-right: 5px;
}
.menu-vertical{
    
    position:absolute ;
	display: none ;
	list-style: none;

	width: 200px;
	background-color: #7c4b4b00;
}

.menu-horizontal li:hover .menu-vertical{
	display: block;
  
}
.menu-vertical li a{
    text-align: left;
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 0px;
}
.menu-vertical li:hover{
	background-color: rgba(0, 0, 0, 0);
  
}

.menu-vertical li a:hover{
    color: #6e6c6c;
}

.wrapper{
    position: fixed;
    top:20%;
    right: 40%;
    width: 90%;
    max-width: 400px;
    height: auto;
    transform: translate(-50%, -50%);
    background: #ffffff8f;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0 ,0 , .5) ;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
    z-index: 200;
    flex-direction: column;
}
@media (max-width: 991px){
    .wrapper{
        right: 5%;
        
    }
}
.contenedor-wrapper {
    position: relative; /* Contexto para elementos hijos */
    width: 100%;
    height: 100vh; /* Ocupa toda la altura del viewport */
    display: flex; /* Flexbox para centrar elementos */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    overflow: hidden; /* Evita que elementos hijos salgan del contenedor */
}


.wrapper.active-popup{
    display: flex;
    justify-content: center;
    align-items: center;

    transform: scale(1);
}
.wrapper.active{
    height: 520px;
}
.wrapper .form-box{
    width:100% ;
    padding: 40px;
}
.wrapper .form-box.login{
    transition: transform .18 ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper.active .form-box.register{
    transition: transform .18 ease;
    transform: translateX(0)
}
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #282f35;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;  
    cursor: pointer;  
    z-index: 1;

}
.form-box h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938 ;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}
.remember-forgot{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px;
}
.remember-forgot a{
    color: #162938;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;

}

.btn{
    width: 100%;
    height: 45px;
    background-color: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.login-register{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;

}
.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
    margin-left: 10px;
}
.login-register p a:hover{
   text-decoration: underline;
   
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none; /* Oculto por defecto */
    z-index: 98; /* Detrás del modal */
}

.modal-overlay.active {
    display: block; /* Se muestra solo cuando el modal está activo */
}
.sec{
    padding: 20px 0 ;
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.uno{
    background: url(backgground1.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.sesgouno{
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 15vh 0 0 100vw;
    border-style: solid;
    border-color: transparent transparent transparent #2b2929;
    z-index: 1;
}
.tres{
    background: url(backgroun22.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
}
.sesgodos{
    position: absolute;
    top: 0  ;
    left: 0;
    border-width: 15vh 100vw 0 0;
    border-style: solid;
    border-color: #2b2929 transparent transparent transparent;
}
@media (max-width: 991px){
    .sesgodos{
        border-width: 5vh 100vw 0 0;
    }
    .sesgouno{
        border-width: 5vh 0 0 100vw;
    }
}
.home{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
   
    background:url(backgroun33.png);
    background-size: cover;
    background-position: center;
    
    
    
    
  
}
.home .content{
    flex: 1 1 100%; /* Ocupa todo el ancho en pantallas pequeñas */
    margin: 50px;
    /*margin-left: 100px;
    max-width: 60rem;*/
   
}
.home .content h3{
    font-size: clamp(24px, 4vw + 1rem, 48px);
    
    text-transform: uppercase;
    color: #fff;
    line-height: 1.4;
    


}.home .content h2{
    font-size: clamp(15px, 4vw + 1rem, 30px);
    font-weight: lighter;
    line-height: 1.8;
    padding: 20px 0;
    color: #eee;
}

.home .btnstar{
    margin: 0px 50px;

    justify-content: center;
    text-align: center;
    width: 200px;
    height: 60px;
    background: transparent;
    border: 4px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 500;
    margin-left: 0px;
    transition: .5s ease;
}
.home .button-ex{
    display: inline-flex;

}
.home .btnstar:hover{
    background-color: #fff;
    color: #162938;
}
@media (max-width: 900px) {
    .home{
    
    display: flex;
    /* Coloca elementos en columna */
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    .home .content {
        padding: 15px;
        align-items: center;
        text-align: center;
        
    }
    

    .home .content h3 {
        font-size: 1.8rem;
    }

    .home .content h2 {
        font-size: 1.2rem;
    }

    .home .btnstar {
        width: 150px;
        height: 60px;
        font-size: 1rem;
        margin: 0px 4px;
    }
   
}

@media (max-width: 480px) {
    .home .content {
        padding: 10px;
    }

    .home .content h3 {
        font-size: 1.5rem;
    }

    .home .content h2 {
        font-size: 1rem;
    }

    .home .btnstar {
        width: 120px;
        height: 60px;
        font-size: 0.9rem;
    }
}

.chatbot{
    
    position: relative;
    display: flex;
    flex-direction: column; /* Coloca elementos en columna */
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    
    
}
.chatbot .content{
    width: 100%;
    
    max-width: 800px; /* Limita el ancho */
    padding: 20px;
    
    
    
}
.chatbot .content h1{
    font-size: clamp(24px, 4vw + 1rem, 48px);
    text-transform: uppercase;
    color: #fff;
    line-height: 1.4;
}
.chatbot .content p{
    font-size: clamp(15px, 4vw + 1rem, 30px);
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: hsl(0, 0%, 85%);
    
}
.chatbot .content h4{
    font-size: clamp(10px, 4vw + 1rem, 20px);
     color: rgb(173, 154, 154)

}
.chatbot .content .btnstar{
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 400px;
    height: 60px;
    background: transparent;
    border: 4px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: clamp(14px, 1.5vw, 18px);
    color: #fff;
    font-weight: 500;
    
    transition: .5s ease;
}

.chatbot .content .btnstar:hover{
    background-color: #fff;
    color: #162938;
}
.chatbot .content img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    opacity: 0.5;
    
}
@media (max-width: 768px) {
    .chatbot {
        padding: 15px; /* Reduce el padding */
    }

    .chatbot .content {
        padding: 10px; /* Reduce el padding interno */
    }

    .chatbot .content h1 {
        font-size: 1.8rem; /* Reduce el tamaño del encabezado */
    }

    .chatbot .content p {
        font-size: 1rem; /* Reduce el tamaño del texto */
    }
}

@media (max-width: 480px) {
    .chatbot {
        padding: 10px; /* Espaciado más compacto */
    }

    .chatbot .content h1 {
        font-size: 1.5rem; /* Aún más pequeño en pantallas muy pequeñas */
    }

    .chatbot .content p {
        font-size: 0.9rem; /* Texto más compacto */
    }

    .chatbot .content img {
        margin-top: 15px; /* Ajusta el margen */
    }
}
.services{
   
    display: flex;
    margin: 20px 0;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%; /* Evita que se expanda horizontalmente */
    max-height: 100%;
    
}
.container1{
    background-color: rgba(158, 126, 126, 0);
}
.container1 h1{
    text-align: center;
    font-size: clamp(24px, 4vw + 1rem, 48px);
    padding-bottom: 10px;
    color: #fff;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.034);
}
.container1 p{
    color: hsl(0, 0%, 85%);
}
.container1 i{
    font-size: 40px;
    color: #fff;
}
.container1 h3{
    color: #fff;
}
.container1 .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
 
}
.container1 .box-container .box{
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 10px;
    
    border-radius: 15px ;
    background: #ffffff00;
    text-align: center;
    padding: 30px 20px;
}
.container1 .box-container .box h3{
    margin: 20px 0;
}
@media (max-width: 991px) {
    .container1{
        padding: 20px;

        
    }
    
}

